img {
  width: 300px;
  height: 250px;
}
.container {
  display: flex;
  justify-content: space-evenly;
}
p {
  text-align: center;
}
h1 {
  text-align: center;
  padding: 30px;
}
.table-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}
th,
td {
  padding: 10px;
}
img {
  padding: 20px;
}
.hide {
  display: none;
}
button {
  margin-bottom: 31px;
}
